<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<h1>Product list</h1>
<span sec:authorize="isAuthenticated()"> AUTH</span>
<span sec:authorize="isAnonymous()">NOT AUTH</span>

<div ng-controller="appCtrl">
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>List of ALL products</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Delete</th>
            </tr>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.weight}}</td>
                    <td><input type="button" ng-click="delete(product)"></td>
                </tr>
        </table>
    </table>
    <h3>New Added Product: {{addedProduct.name}}</h3>
    <form novalidate >
        <input type="text" ng-model="product.name"/><br>
        <input type="text" ng-model="product.price"/><br>
        <input type="text" ng-model="product.weight"/><br>
        <input type="submit" ng-click="update(product)"/>
    </form>

</div>
<div ng-controller="selectCtrl">
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>List of SELECTED products</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Weight</th>
            </tr>
            <tr ng-repeat="product in selectedProducts">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.weight}}</td>
            </tr>
        </table>
    </table>
    <form novalidate >
        <input type="text" ng-model="select.sum"/>
        <input type="text" ng-model="select.selectWeight"/>
        <input type="submit" ng-click="update(select)"/>
    </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="/resources/ang.js"></script>
</body>
</html>