<!DOCTYPE html>
<html lang="en" ng-app="app"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<h1>Product list</h1>
<div sec:authorize="isAnonymous()">You have to login to delete or update list</div>
<div sec:authorize="isAuthenticated()">
    Hello,User !!!
</div>
<div ng-controller="appCtrl">
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>List of ALL products</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Weight</th>
                <th sec:authorize="isAuthenticated()">Update</th>
                <th sec:authorize="isAuthenticated()">Delete</th>
            </tr>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.weight}}</td>
                    <td sec:authorize="isAuthenticated()"><input type="button" ng-click="show(product)" value="Update"></td>
                    <td sec:authorize="isAuthenticated()"><input type="button" ng-click="delete(product)" value="Delete"></td>
                </tr>
        </table>
    </table>

    <div ng-show="IsVisible">
        <h3> Last updated product is {{updatedProduct}}</h3>
        <span> You want to update {{willBeUpdated}}</span>
        <form novalidate >
            <input type="text" ng-model="updatedProduct.name"/><br>
            <input type="text" ng-model="updatedProduct.price"/><br>
            <input type="text" ng-model="updatedProduct.weight"/><br>
            <input type="button" ng-click="updateProduct(updatedProduct)" value="Update"/>
        </form>
    </div>

    <h3>New Added Product: {{addedProduct.name}}</h3>
    <form novalidate >
        <input type="text" ng-model="product.name"/><br>
        <input type="text" ng-model="product.price"/><br>
        <input type="text" ng-model="product.weight"/><br>
        <input type="submit" ng-click="add(product)"/>
    </form>

</div>
<div ng-controller="selectCtrl" >
    <table >
        <table border="1" cellpadding="5">
            <caption><h2>List of SELECTED products</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Weight</th>
            </tr>
            <tr ng-repeat="product in selectedProducts">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.weight}}</td>
            </tr>
        </table>
    </table>
    <h3>Please,choose your params</h3>
    <form novalidate >
        <label for="price" >Price</label>
        <input type="text" ng-model="select.sum" id="price"/>
        <label for="weight" >Weight</label>
        <input type="text" ng-model="select.selectWeight" id = "weight"/>
        <input type="submit" ng-click="update(select)" value="Select"/>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="/resources/ang.js"></script>
</body>
</html>